# SPDX-FileCopyrightText: 2024 iplus1 GmbH <info@iplus1.de>
# SPDX-License-Identifier: AGPL-3.0-only

__pycache__
.$*.bkp
.env
.hypothesis
.pytest_cache
*.pyc
/deployment/containers/backend/src/static/