{% extends "unfold/layouts/base.html" %}
{% load crispy_forms_tags %}
{% load django_htmx %}
{% load static %}

{% block content %}
    <script src="{% static 'js/htmx.2.0.2.min.js' %}" defer></script>
    <script src="{% static 'js/htmx-debug.2.0.0.js' %}" defer></script>
    <style>
    </style>
    {% django_htmx_script %}
    <div class="icl" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>

        <h1 id="vehicles">Request vehicle information</h1>
        <p>
            {% crispy sharingos_check_form %}
        </p>

    </div>
{% endblock %}