# Copy this file to a new file called ".env" (without quotes) and change the parameters according to the description.

# This URL needs to match what you use in your web browser
PUBLIC_URL=https://__PUBLIC_FQDN__/
# Full qualified domain name of the URL above (e.g. host name with domain but without https:// or path at the end)
CLUSTER_FQDN=

# Twilio settings (phone verificatione etc.); see containers/documentation/technology/twilio.md
TWILIO_ACCOUNT_SID=
TWILIO_API_SID=
TWILIO_API_SECRET=
TWILIO_VERIFY_SERVICE_SID=

# SendGrid settings; see containers/documentation/technology/twilio.md
SENDGRID_API_KEY=
SENDGRID_TEMPLATE_ID_RESET_PASSWORD=
SENDGRID_TEMPLATE_ID_VERIFY_EMAIL=
SENDGRID_TEMPLATE_ID_FEEDBACK=

# Brevo settings; see containers/documentation/technology/brevo.md
BREVO_API_KEY=
BREVO_TEMPLATE_ID_FEEDBACK=
BREVO_TEMPLATE_ID_RESET_PASSWORD=
BREVO_TEMPLATE_ID_VERIFY_EMAIL=

# EMAIL_PROVIDER options: brevo, sendgrid
EMAIL_PROVIDER=brevo
# EMAIL_FROM_ADDRESS needs to be a single email address that is the same as the From address set up and verified at the provider
EMAIL_FROM_ADDRESS=
# comma separated list of email addresses that get user feedback
EMAIL_OPERATOR_ADDRESSES=

APP_NAME="CHANGE_ME"

# File name (relative to "containers/backend/src/backend/static/") of an SVG file shown as the admin backend icon (light and dark CSS mode)
ICON_SVG_LIGHT="img/change_me.svg"
ICON_SVG_DARK="img/change_me.svg"

# Push notification provider settings; see containers/documentation/technology/twilio.md
APNS_CERTIFICATE_WITH_KEY_PEM=
ANDROID_GCM_SERVICE_ACCOUNT_JSON=

# RRive gRPC backend; either app-backend-develop.rrive.com (development) or backend.rrive.com (production)
RRIVE_GRPC_ENDPOINT=app-....rrive.com

# HTTP URL that should deliver a JSON object conforming to ExternalNews when requested via GET (see containers/backend/src/backend/api_v1/schemas.py)
NEWS_EXTERNAL_SYNC_URL=

# When the API server root URL (/) is loaded and this setting is set, redirect the user there.
ROOT_REDIRECT_URL=

# SharingOS backend parameters (provided by SharingOS)
SHARINGOS_AUTH_AK=
SHARINGOS_AUTH_PRIVATE_KEY=

# Only set if you want to set the backend "admin" users's password from here.
# If not set, a password will be generated, logged to the container logs and
# persisted in "$USERDATA_BASEDIR/backend/storage/admin-password.txt".
# BACKEND_ADMIN_PASSWORD=

# Postgres superuser password: Should be a long (~30 characters) random password
POSTGRES_PASSWORD=

# Postgres user used by backend components: Should be a long (~30 characters) random password
POSTGRES_BACKEND_PASSWORD=

CLUSTER_CERTIFICATES_SELF_SIGNED=yes
CLUSTER_LETS_ENCRYPT_CERTIFICATES=no

# Comma-separated list of origins that are trusted for CORS
ADDITIONAL_TRUSTED_ORIGINS=

# Only set to override the env.global default
# PUBLIC_TRANSPORT_EFA_ENDPOINT=

# The userdata directory needs to be POSIX compliant.
# This means that on Windows with WSL2, place it in a WSL2-mountpoint, not on a Windows-drive.
USERDATA_BASEDIR=/userdata/

COMPOSE_PROJECT_NAME=